{% csrf_token %}
{% load static %}


<footer class="page-footer font-small bg-dark pt-4 text-body-secondary" data-bs-theme="dark" style="margin-top: auto; margin-bottom: 0;">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mt-md-0">
                <img src="/static/img/main-logo.png" class="mt-auto">
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 text-start">

                <h5 class="text-uppercase">Company</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footer-text" href="#!">Home</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">About Us</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Technology</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Contact Us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 text-start">

                <h5 class="text-uppercase">Construction Tools</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footer-text" href="#!">Diamond Wire</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Wall Saw Blades</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Floor Saw Blades</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Core Drills</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3 text-start">

                <h5 class="text-uppercase">Stone Tools</h5>

                <ul class="list-unstyled ">
                    <li>
                        <a class="footer-text" href="#!">Blades & Segments</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Wire for Marble</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Wire for Granite</a>
                    </li>
                    <li>
                        <a class="footer-text" href="#!">Multiwire Beads & Wire</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-black">
        
    </div>
    <!-- Copyright -->

</footer>