<style type="text/css">
    .six-card {
        width: 100%;
        aspect-ratio: 16 / 10;
        background-color: black;
        background-size: cover;
        border-radius: 30px;
        align-items: end;
        display: flex;
        justify-content: start;
    }

    .card-text {
        color: white;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: left;
        padding: 30px;
    }
</style>

<center class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 p-3">
            <div class="six-card">
                <div class="mt-5 card-text">
                    <b style="font-weight: 800;">CONTACT</b> US IF YOU HAVE AND QUESTIONS ABOUT OUR 
                    PRODUCTS AND SERVICES
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-3">
            <div class="six-card">
                <div class="mt-5 card-text">
                    <b style="font-weight: 800;">CONTACT</b> US IF YOU HAVE AND QUESTIONS ABOUT OUR 
                    PRODUCTS AND SERVICES
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-3">
            <div class="six-card">
                <div class="mt-5 card-text">
                    <b style="font-weight: 800;">CONTACT</b> US IF YOU HAVE AND QUESTIONS ABOUT OUR 
                    PRODUCTS AND SERVICES
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-3">
            <div class="six-card">
                <div class="mt-5 card-text">
                    <b style="font-weight: 800;">CONTACT</b> US IF YOU HAVE AND QUESTIONS ABOUT OUR 
                    PRODUCTS AND SERVICES
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-3">
            <div class="six-card">
                <div class="mt-5 card-text">
                    <b style="font-weight: 800;">CONTACT</b> US IF YOU HAVE AND QUESTIONS ABOUT OUR 
                    PRODUCTS AND SERVICES
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 p-3">
            <div class="six-card">
                <div class="mt-5 card-text">
                    <b style="font-weight: 800;">CONTACT</b> US IF YOU HAVE AND QUESTIONS ABOUT OUR 
                    PRODUCTS AND SERVICES
                </div>

            </div>
        </div>
    </div>
</center>